/*
    CUSTOMIZE TO YOUR NEED
*/

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
:root {
	--primaryColor: #ff5e41;
	--secondaryColor: #edceff;
}
* {
	margin: 0;
	padding: 0;
	font-family: Jost, sans-serif;
	color: var(--primaryColor);
}
.logo img {
	width: 100px;
}
header p {
	color: var(--secondaryColor);
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
a {
	text-decoration: none;
}
button {
	padding: 10px 40px;
	margin-top: 40px;
	background-color: var(--secondaryColor);
	color: white;
	border: none;
	font-size: 1.2rem;
	letter-spacing: 5px;
}
button:hover {
	background-color: var(--primaryColor);
	cursor: pointer;
}
.column-reverse {
	flex-direction: row-reverse;
}
